.nav{
    color: white;
    background-color: #282828;
    height: 60px;
    padding-top: 5px;
    padding-left: 0;
}
.row{
    width: 100%;
}
.text:hover{
    filter: invert(40%) sepia(90%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(119%);
}
.users{
    filter: invert(40%) sepia(90%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(119%);
}
.logo{
    margin-left: 20px;
}
.icon{
    height:18px;
}
.text{
    color: white;
}
