#search{
    position:relative;
  margin-bottom:10px;
}
input{
    height:25px;
    width:100%;
    padding-left:10px;
    border:none;outline:none;
  }
  .search{
    position:absolute;
    right: 0px;
    top: 4px;
    border:none;
    height:20px;
    width:20px;
    margin-right: 25px;
    background-color: Transparent;
  }